<%- include( 'templates/_header', { page: 'top' } ) %>

<main class="l-wrapper">
  <div class="main-wrapper">
    <div class="primary-wrapper">
      <div class="hero">
        <div class="hero__article">
          <div class="hero__article__image"><a class="hero__article__image__link" href="/article.html"><img class="hero__article__image__eyecatch" src="./images/hero_example.jpg" alt="" /></a></div>
          <div class="hero__article__caption">
            <a class="hero__article__caption__category" href="/articles-list.html">島を支える人</a>
            <a class="hero__article__caption__title" href="/article.html">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a>
          </div>
        </div>
        <div class="hero__article">
          <div class="hero__article__image"><a class="hero__article__image__link" href="/article.html"><img class="hero__article__image__eyecatch" src="./images/hero_example.jpg" alt="" /></a></div>
          <div class="hero__article__caption">
            <a class="hero__article__caption__category" href="/articles-list.html">島を支える人</a>
            <a class="hero__article__caption__title" href="/article.html">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="primary-contents">
          <div class="primary-contents__specially-banner">
            <a class="primary-contents__specially-banner__link" href=""><img class="primary-contents__specially-banner__image" src="./images/whats-tsushima-banner.jpg" alt="対馬ってどんな島？" /></a>
          </div>
          <hr class="separate-line" />
          <section class="special-feature">
            <div class="special-feature__heading main-contents__heading">
              <h1 class="special-feature__heading--ja main-contents__heading--ja">特集</h1>
              <span class="special-feature__heading--en main-contents__heading--en">SPECIAL FEATURE</span>
            </div>
            <div class="special-feature__slider">
              <div class="special-feature__slider__group">
                <a class="special-feature__slider__group__link" href="/special-feature-list.html">
                  <div class="special-feature__slider__group__banner"><img class="special-feature__slider__group__banner__image" src="./images/special-feature-banner1.jpg" alt="" /></div>
                  <div class="special-feature__slider__group__title">対馬の歩きかた</div>
                </a>
              </div>
              <div class="special-feature__slider__group">
                <a class="special-feature__slider__group__link" href="/special-feature-list.html">
                  <div class="special-feature__slider__group__banner"><img class="special-feature__slider__group__banner__image" src="./images/special-feature-banner1.jpg" alt="" /></div>
                  <div class="special-feature__slider__group__title">釣りの聖地・対馬</div>
                </a>
              </div>
              <div class="special-feature__slider__group">
                <a class="special-feature__slider__group__link" href="/special-feature-list.html">
                  <div class="special-feature__slider__group__banner"><img class="special-feature__slider__group__banner__image" src="./images/special-feature-banner1.jpg" alt="" /></div>
                  <div class="special-feature__slider__group__title">フォトジェニックスポット</div>
                </a>
              </div>
              <div class="special-feature__slider__group">
                <a class="special-feature__slider__group__link" href="/special-feature-list.html">
                  <div class="special-feature__slider__group__banner"><img class="special-feature__slider__group__banner__image" src="./images/special-feature-banner1.jpg" alt="" /></div>
                  <div class="special-feature__slider__group__title">対馬未来図鑑</div>
                </a>
              </div>
            </div>
            <br />
            <a class="special-feature__view-more view-more" href="">VIEW MORE</a>
          </section>
          <hr class="separate-line" />
          <section class="latest-articles">
            <div class="latest-articles__heading main-contents__heading">
              <h1 class="latest-articles__heading--ja main-contents__heading--ja">最新記事</h1>
              <span class="latest-articles__heading--en main-contents__heading--en">LATEST ARTICLES</span>
            </div>
            <div class="latest-articles__list">
              <div class="articles-card">
                <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
                <div class="articles-card__caption">
                  <time class="articles-card__caption__date">2019.01.01</time>
                  <a class="articles-card__caption__title__link" href="/article.html">
                    <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
                  </a>
                </div>
                <div class="articles-card__category">
                  <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
                </div>
                <div class="articles-card__author">
                  <a class="articles-card__author__link" href="/writer.html">
                    <div class="articles-card__author__group">
                      <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                      <span class="articles-card__author__name">小宮 大輔</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="articles-card">
                <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
                <div class="articles-card__caption">
                  <time class="articles-card__caption__date">2019.01.01</time>
                  <a class="articles-card__caption__title__link" href="/article.html">
                    <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
                  </a>
                </div>
                <div class="articles-card__category">
                  <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
                </div>
                <div class="articles-card__author">
                  <a class="articles-card__author__link" href="/writer.html">
                    <div class="articles-card__author__group">
                      <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                      <span class="articles-card__author__name">小宮 大輔</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="articles-card">
                <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
                <div class="articles-card__caption">
                  <time class="articles-card__caption__date">2019.01.01</time>
                  <a class="articles-card__caption__title__link" href="/article.html">
                    <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
                  </a>
                </div>
                <div class="articles-card__category">
                  <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
                </div>
                <div class="articles-card__author">
                  <a class="articles-card__author__link" href="/writer.html">
                    <div class="articles-card__author__group">
                      <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                      <span class="articles-card__author__name">小宮 大輔</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="articles-card">
                <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
                <div class="articles-card__caption">
                  <time class="articles-card__caption__date">2019.01.01</time>
                  <a class="articles-card__caption__title__link" href="/article.html">
                    <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
                  </a>
                </div>
                <div class="articles-card__category">
                  <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
                </div>
                <div class="articles-card__author">
                  <a class="articles-card__author__link" href="/writer.html">
                    <div class="articles-card__author__group">
                      <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                      <span class="articles-card__author__name">小宮 大輔</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="articles-card">
                <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
                <div class="articles-card__caption">
                  <time class="articles-card__caption__date">2019.01.01</time>
                  <a class="articles-card__caption__title__link" href="/article.html">
                    <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
                  </a>
                </div>
                <div class="articles-card__category">
                  <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
                </div>
                <div class="articles-card__author">
                  <a class="articles-card__author__link" href="/writer.html">
                    <div class="articles-card__author__group">
                      <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                      <span class="articles-card__author__name">小宮 大輔</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="articles-card">
                <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
                <div class="articles-card__caption">
                  <time class="articles-card__caption__date">2019.01.01</time>
                  <a class="articles-card__caption__title__link" href="/article.html">
                    <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
                  </a>
                </div>
                <div class="articles-card__category">
                  <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
                </div>
                <div class="articles-card__author">
                  <a class="articles-card__author__link" href="/writer.html">
                    <div class="articles-card__author__group">
                      <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                      <span class="articles-card__author__name">小宮 大輔</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="articles-card">
                <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
                <div class="articles-card__caption">
                  <time class="articles-card__caption__date">2019.01.01</time>
                  <a class="articles-card__caption__title__link" href="/article.html">
                    <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
                  </a>
                </div>
                <div class="articles-card__category">
                  <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
                </div>
                <div class="articles-card__author">
                  <a class="articles-card__author__link" href="/writer.html">
                    <div class="articles-card__author__group">
                      <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                      <span class="articles-card__author__name">小宮 大輔</span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="articles-card">
                <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
                <div class="articles-card__caption">
                  <time class="articles-card__caption__date">2019.01.01</time>
                  <a class="articles-card__caption__title__link" href="/article.html">
                    <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
                  </a>
                </div>
                <div class="articles-card__category">
                  <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
                </div>
                <div class="articles-card__author">
                  <a class="articles-card__author__link" href="/writer.html">
                    <div class="articles-card__author__group">
                      <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
                      <span class="articles-card__author__name">小宮 大輔</span>
                    </div>
                  </a>
                </div>
              </div>
            <a class="latest-articles__view-more view-more" href="">VIEW MORE</a>
          </section>
        </div>
      </div>
    </div>

    <%- include( 'templates/_sidebar' ) %>

  </div>
</main>

<%- include( 'templates/_footer' ) %>
