@charset 'UTF-8';/*
 SCSS SMACSS BEM
*//* Tools *//* media quary *//* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: none;
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,textarea {
  padding: 0;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

textarea {
  resize: none;
}

select {
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
}

select::-ms-expand {
  display: none;
}/*
 widthやmarginなど、エリア分けのみを行う。
*/.l-wrapper {
  width: 100%;
  margin: 0 auto;
}

.l-wrapper:before,.l-wrapper:after {
  display: table;
  content: '';
}

.l-wrapper:after {
  clear: both;
}

.l-header {
  width: 100%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  color: #333;
  text-align: justify;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, '游ゴシック', Hiragino Sans, 'ヒラギノ角ゴシック', Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.625;
  min-width: 100%;
  -moz-osx-font-smoothing: grayscale;
}

body.is-fixed {
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

button {
  display: block;
  height: auto;
}

main {
  background: #fafafa;
}/* Layout *//* Module */.header {
  width: 100%;
  margin: 0 auto;
}

.header__catchphrase {
  position: fixed;
  width: 100%;
  height: 30px;
  background: #59a5d8;
  z-index: 10;
}

.header__catchphrase:before,.header__catchphrase:after {
  display: table;
  content: '';
}

.header__catchphrase:after {
  clear: both;
}

.header__catchphrase__text {
  float: left;
  color: #fff;
  font-size: 0.9rem;
  font-weight: lighter;
  line-height: 3.11111;
  padding-left: 18px;
}

.header__catchphrase__search-button {
  float: right;
  cursor: pointer;
  margin-top: 8px;
  padding-right: 18px;
}

.header__catchphrase__search-button__icon {
  width: 14px;
  height: 14px;
}

.header__searchbox {
  position: fixed;
  top: 30px;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  background: #333;
  z-index: 5;
}

.header__searchbox:before,.header__searchbox:after {
  display: table;
  content: '';
}

.header__searchbox:after {
  clear: both;
}

.header__searchbox__input {
  float: left;
  width: calc( 100% - 46px - 14px - 14px - 5px);
  height: 25px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 14px;
  margin-top: 10px;
  padding-left: 7px;
}

.header__searchbox__search {
  float: right;
  width: 46px;
  height: 25px;
  background: #59a5d8;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  font-size: 1.1rem;
  line-height: 1.81818;
  margin-right: 14px;
  margin-top: 10px;
}

.header__inner {
  width: 90%;
  margin: 0 auto;
}

.header__service-logo {
  position: relative;
  top: 40px;
  width: 100%;
  padding-bottom: 35px;
}

.header__service-logo__image-box {
  width: 80px;
  margin: 0 auto;
}

.header__service-logo__image-box__image {
  width: 100%;
  height: auto;
}

.header__nav {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header__nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav__menu:before,.header__nav__menu:after {
  display: table;
  content: '';
}

.header__nav__menu:after {
  clear: both;
}

.header__nav__menu__about,.header__nav__menu__categories,.header__nav__menu__tags {
  cursor: pointer;
  margin-right: 10px;
}

.header__nav__menu__about__heading,.header__nav__menu__categories__heading,.header__nav__menu__tags__heading {
  height: 40px;
}

.header__nav__menu__about__heading {
  width: 100px;
  margin-left: 16px;
}

.header__nav__menu__categories__heading {
  width: 82px;
}

.header__nav__menu__tags__heading {
  width: 82px;
}

.header__nav__menu__about__heading__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

.header__nav__menu__about__heading__name,.header__nav__menu__categories__heading__name,.header__nav__menu__tags__heading__name {
  float: left;
}

.header__nav__menu__about__heading__name:before,.header__nav__menu__about__heading__name:after,.header__nav__menu__categories__heading__name:before,.header__nav__menu__categories__heading__name:after,.header__nav__menu__tags__heading__name:before,.header__nav__menu__tags__heading__name:after {
  display: table;
  content: '';
}

.header__nav__menu__about__heading__name:after,.header__nav__menu__categories__heading__name:after,.header__nav__menu__tags__heading__name:after {
  clear: both;
}

.header__nav__menu__about__heading__name--ja,.header__nav__menu__categories__heading__name--ja,.header__nav__menu__tags__heading__name--ja {
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
}

.header__nav__menu__about__heading__name--en,.header__nav__menu__categories__heading__name--en,.header__nav__menu__tags__heading__name--en {
  display: block;
  font-size: 0.8rem;
  line-height: 2;
  padding-left: 1px;
}

.header__nav__menu__categories__heading__image,.header__nav__menu__tags__heading__image {
  float: left;
  width: 12px;
  margin-left: 4px;
  margin-top: 2px;
}

.header__nav__menu__categories__heading__image__icon,.header__nav__menu__tags__heading__image__icon {
  width: 100%;
}

.header__nav__menu__categories__subhead,.header__nav__menu__tags__subhead {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  z-index: 10;
}

.header__nav__menu__categories__subhead:before,.header__nav__menu__categories__subhead:after,.header__nav__menu__tags__subhead:before,.header__nav__menu__tags__subhead:after {
  display: table;
  content: '';
}

.header__nav__menu__categories__subhead:after,.header__nav__menu__tags__subhead:after {
  clear: both;
}

.header__nav__menu__categories__subhead__category {
  position: relative;
  float: left;
  width: calc( 50% - 1px);
  height: 35px;
  background: #59a5d8;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.header__nav__menu__categories__subhead__category__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 5px;
}

.header__nav__menu__tags__subhead {
  width: 100%;
  background: #59a5d8;
}

.header__nav__menu__tags__subhead__list {
  padding: 8px 6px;
}

.header__nav__menu__tags__subhead__list:before,.header__nav__menu__tags__subhead__list:after {
  display: table;
  content: '';
}

.header__nav__menu__tags__subhead__list:after {
  clear: both;
}

.header__nav__menu__tags__subhead__list__tag {
  float: left;
  margin: 4px 8px;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.header__nav__menu__tags__subhead__list__tag__link {
  color: #fff;
}

.header__nav__menu__tags__subhead__list__button {
  display: block;
  width: 100%;
  height: 40px;
  background: #44af69;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.85714;
}

.articles-card {
  width: 48%;
  margin-bottom: 15px;
}

.articles-card__image {
  width: 100%;
}

.articles-card__caption {
  width: 100%;
  padding: 3px 0 7px;
  background: #fff;
}

.articles-card__caption__date {
  color: #aaa;
  font-family: 'Lato';
  font-size: 0.9rem;
  line-height: 2.22222;
  margin-left: 10px;
}

.articles-card__caption__title__link {
  color: #333;
}

.articles-card__caption__title {
  display: -webkit-box;
  height: calc( 1.3 * 3em);
  -webkit-box-orient: vertical;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  -webkit-line-clamp: 3;
  line-height: 1.3;
  line-height: 1.3;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  overflow: hidden;
}

.articles-card__category {
  width: 100%;
  height: 30px;
  background: #fff;
  color: #59a5d8;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.45455;
  margin-top: 2px;
}

.articles-card__category__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #59a5d8;
}

.articles-card__author {
  width: 100%;
  height: 30px;
  background: #fff;
  color: #333;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.45455;
  margin-top: 2px;
}

.articles-card__author__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

.articles-card__author__group {
  display: inline-block;
  margin: 0 auto;
}

.articles-card__author__group:before,.articles-card__author__group:after {
  display: table;
  content: '';
}

.articles-card__author__group:after {
  clear: both;
}

.articles-card__author__image {
  float: left;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-top: 6px;
}

.articles-card__author__name {
  display: block;
  float: left;
  font-size: 1rem;
  line-height: 2.9;
  margin-left: 9px;
}

.main-wrapper {
  margin: 0 auto;
  background-color: #fafafa;
}

.primary-wrapper {
  width: 100%;
  margin: 0 auto;
}

.hero {
  width: 100%;
  margin: 0 auto;
}

.hero__article:before,.hero__article:after {
  display: table;
  content: '';
}

.hero__article:after {
  clear: both;
}

.hero__article__image {
  width: 100%;
}

.hero__article__image__eyecatch {
  width: 100%;
  height: auto;
}

.hero__article__caption {
  padding: 10px 16px 13px 16px;
  background: #59a5d8;
  font-size: 1.2rem;
  line-height: 1.66667;
}

.hero__article__caption__category {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}

.hero__article__caption__title {
  display: block;
  color: #fff;
}

.main-contents {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

.primary-contents {
  width: 100%;
}

.primary-contents__specially-banner {
  width: 100%;
}

.primary-contents__specially-banner__link {
  width: 100%;
  height: 100%;
}

.primary-contents__specially-banner__image {
  width: 100%;
}

.secondary-wrapper {
  width: 100%;
}

.slick-prev:before,.slick-next:before {
  color: #333 !important;
}

.separate-line {
  margin: 40px calc( ( ( 100vw - 100% ) / 2 ) * -1) 30px;
  border-top: 5px solid #59a5d8;
}

.section-description {
  font-size: 1.2rem;
  line-height: 1.16667;
  margin-bottom: 30px;
}

.main-contents__heading {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.main-contents__heading--ja {
  display: block;
  color: #59a5d8;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

.main-contents__heading--en {
  display: block;
  color: #59a5d8;
  font-family: 'Lato';
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.42857;
  margin-top: 4px;
}

.view-more {
  display: block;
  width: 120px;
  height: 34px;
  margin: 0 auto;
  background: #44af69;
  color: #fff;
  text-align: center;
  font-family: 'Lato';
  font-size: 1.2rem;
  line-height: 2.75;
}

.special-feature__slider {
  width: 90%;
  margin: 0 auto;
}

.special-feature__slider__group {
  width: 100%;
  margin: 0 5px;
}

.special-feature__slider__group__link {
  width: 100%;
  height: 100%;
  color: #333;
}

.special-feature__slider__group__banner {
  width: 100%;
}

.special-feature__slider__group__banner__image {
  width: 100%;
  max-width: 100%;
}

.special-feature__slider__group__title {
  width: 100%;
  height: 35px;
  background: #fff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.83333;
}

.special-feature-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.special-feature-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.special-feature-list__title {
  padding: 15px 15px;
  border: 3px solid #59a5d8;
  color: #59a5d8;
  text-align: center;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.14286;
  margin-top: 15px;
}

.special-feature-list__description {
  padding: 15px;
  font-feature-settings: 'palt';
  text-align: justify;
  text-justify: inter-ideograph;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-feature-settings: 'palt';
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: 1.66667;
  margin-bottom: 30px;
  margin-top: 15px;
}

.latest-articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest-articles__view-more {
  margin-top: 20px;
}

.ranking {
  width: 90%;
  margin: 0 auto;
}

.ranking__contents__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.ranking__contents__tabs:before,.ranking__contents__tabs:after {
  display: table;
  content: '';
}

.ranking__contents__tabs:after {
  clear: both;
}

.ranking__contents__tabs input:checked + .ranking__contents__tabs--item {
  background: #ffd151;
  color: #fff;
}

.ranking__contents__tabs input {
  margin: 0;
  padding: 0;
}

.ranking__contents__tabs--item {
  display: block;
  width: calc( 100% / 3 - 4px);
  height: 39px;
  color: #333;
  text-align: center;
  background-color: #fff;
  border-bottom: 3px solid #ffd151;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.38889;
  margin-right: 6px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ranking__contents__tabs--item:hover {
  opacity: 0.75;
}

.ranking__contents__tabs--item:nth-child(3n) {
  margin-right: 0;
}

.ranking input[name='ranking__contents__tabs--item'] {
  display: none;
}

.ranking__contents__list {
  display: none;
  margin-top: 10px;
  overflow: hidden;
}

.ranking__contents__list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.ranking__contents__list__card:before,.ranking__contents__list__card:after {
  display: table;
  content: '';
}

.ranking__contents__list__card:after {
  clear: both;
}

.ranking__contents__list__card__rank {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #333;
  color: #fff;
  text-align: center;
  font-family: 'Lato';
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5;
  opacity: 0.9;
}

.ranking__contents__list__card__image__link {
  float: left;
  width: calc( 50% - 16px);
}

.ranking__contents__list__card__image {
  width: 100%;
}

.ranking__contents__list__card__caption {
  float: left;
  width: 50%;
  padding: 8px 8px;
  background: #fff;
}

.ranking__contents__list__card__title {
  display: -webkit-box;
  color: #333;
  -webkit-box-orient: vertical;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-line-clamp: 3;
  line-height: 14px;
  line-height: 1.27273;
}

.visual-dictionary {
  width: 90%;
  margin: 0 auto;
}

.visual-dictionary__contents__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  align-content: flex-start;
  align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-line-pack: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.visual-dictionary__contents__tabs:before,.visual-dictionary__contents__tabs:after {
  display: table;
  content: '';
}

.visual-dictionary__contents__tabs:after {
  clear: both;
}

.visual-dictionary__contents__tabs input:checked + .visual-dictionary__contents__tabs--item {
  background: #ffd151;
  color: #fff;
}

.visual-dictionary__contents__tabs input {
  margin: 0;
  padding: 0;
}

.visual-dictionary__contents__tabs--item {
  display: block;
  width: calc( 100% / 3 - 4px);
  height: 39px;
  color: #333;
  text-align: center;
  background-color: #fff;
  border-bottom: 3px solid #ffd151;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.38889;
  margin-bottom: 6px;
  margin-right: 6px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.visual-dictionary__contents__tabs--item:hover {
  opacity: 0.75;
}

.visual-dictionary__contents__tabs--item:nth-child(3n) {
  margin-right: 0;
}

.visual-dictionary input[name='visual-dictionary__contents__tabs--item'] {
  display: none;
}

.visual-dictionary__contents__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.visual-dictionary__contents__list__card {
  width: 48%;
  margin-bottom: 15px;
}

.visual-dictionary__contents__list__card__image {
  width: 100%;
}

.visual-dictionary__contents__list__card__caption {
  width: 100%;
  height: 43px;
  padding: 10px 0;
  background: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.16667;
}

.visual-dictionary__contents__list__card__title__link {
  width: 100%;
  height: 100%;
  color: #333;
}

.visual-dictionary__contents__list__card__title {
  display: -webkit-box;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  letter-spacing: 0.05em;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.tsushimap {
  width: 90%;
  margin: 0 auto;
}

.tsushimap__contents {
  width: 100%;
}

.tsushimap__contents__google-map {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.event-calendar {
  width: 90%;
  margin: 0 auto;
}

.event-calendar__contents {
  width: 100%;
}

.event-calendar__contents__google-calendar {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.writer-list {
  width: 90%;
  margin: 0 auto;
}

.writer-list__contents {
  width: 100%;
}

.writer-list__contents__writer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-content: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-line-pack: start;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.writer-list__contents__writer-list__summary {
  margin: 0 auto;
  margin-bottom: 12px;
}

.writer-list__contents__writer-list__summary__image {
  width: 110px;
  height: 110px;
  border-radius: 55px;
}

.writer-list__contents__writer-list__summary__name {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 6px;
}

.footer {
  width: 100%;
  padding: 14px 0 12px 0;
  color: #fff;
  background-color: #59a5d8;
}

.footer .sns-icon {
  width: 90%;
  margin: 0 auto;
}

.footer .sns-icon:before,.footer .sns-icon:after {
  display: table;
  content: '';
}

.footer .sns-icon:after {
  clear: both;
}

.footer .sns-icon__text {
  float: left;
  font-family: 'Lato';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}

.footer .sns-icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer .sns-icon__list__image {
  width: 20px;
  margin-left: 10px;
  margin-top: 2px;
}

.footer hr {
  width: 90%;
  border: 1px solid #fff;
  margin-bottom: 20px;
  margin-top: 14px;
}

.footer__menu {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.71429;
  margin-bottom: 20px;
}

.footer__menu__list {
  line-height: 26px;
}

.footer__menu__list__item__link {
  color: #fff;
}

.footer .copyright {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
}

.breadcrumb *,.breadcrumb *::after,.breadcrumb *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.breadcrumb {
  width: 100%;
  padding: 8px 0 10px 0;
  color: #fff;
  background-color: #59a5d8;
  font-size: 1rem;
  line-height: 1.6;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumb__list:before,.breadcrumb__list:after {
  display: table;
  content: '';
}

.breadcrumb__list:after {
  clear: both;
}

.breadcrumb__list__item {
  display: inline;
}

.breadcrumb__list__item::before {
  content: ' > ';
  padding-left: 5px;
}

.breadcrumb__list__item:first-child::before {
  content: '';
  padding-left: 0;
}

.breadcrumb__list__item__link {
  color: #fff;
  text-decoration: underline;
}

.article {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

.article__eyecatch {
  width: 100%;
}

.article__eyecatch__image {
  width: 100%;
}

.article__contents {
  width: 90%;
  margin: 0 auto;
}

.article__contents__title {
  padding: 10px 10px;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.14286;
  margin-top: 15px;
}

.article__contents__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5px;
}

.article__contents__item__date {
  width: 22%;
  height: 27px;
  color: #aaa;
  text-align: center;
  background-color: #fff;
  font-family: 'Lato';
  font-size: 1rem;
  line-height: 2.4;
}

.article__contents__item__category {
  width: 45%;
  height: 27px;
  background-color: #fff;
}

.article__contents__item__category__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #59a5d8;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.25;
}

.article__contents__item__author {
  width: 30%;
  height: 27px;
  text-align: center;
  background-color: #fff;
}

.article__contents__item__author__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

.article__contents__item__author__group {
  display: inline-block;
  margin-top: -1px;
}

.article__contents__item__author__group__image {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 7px;
}

.article__contents__item__author__group__name {
  display: block;
  float: left;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.8;
  margin-left: 5px;
}

.article__contents__tags {
  padding: 5px 10px;
  background-color: #fff;
  margin-top: 5px;
}

.article__contents__tags__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article__contents__tags__group__tag {
  font-size: 1.1rem;
  line-height: 1.81818;
  margin-right: 7px;
}

.article__contents__tags__group__tag__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

.article__contents__body {
  margin: 0 auto;
  padding: 15px 15px;
  font-feature-settings: 'palt';
  text-align: justify;
  text-justify: inter-ideograph;
  background-color: #fff;
  -webkit-font-feature-settings: 'palt';
  letter-spacing: 0.1em;
  margin-top: 15px;
}

.article__contents__body h2 {
  color: #41799e;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}

.article__contents__body h2 hr {
  width: 20px;
  margin: 5px 0 0 0;
  border: 1.5px solid #41799e;
}

.article__contents__body h3 {
  color: #41799e;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.42857;
}

.article__contents__body p {
  margin: 15px 0;
  font-size: 1.2rem;
  line-height: 1.66667;
}

.article__contents__body .interviewer {
  color: #44af69;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.71429;
}

.article__contents__body .interviewee {
  color: #ffd151;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.71429;
}

.article__contents__body .information {
  padding: 10px;
  border: 1px solid #aaa;
  background-color: #fafafa;
}

.article__contents__body .information .item-name {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.71429;
}

.article__contents__body .information .item-detail {
  margin: 10px 0;
  font-size: 1.4rem;
  line-height: 1.71429;
}

.article__contents__body .information .item-detail__website,.article__contents__body .information .item-detail__email,.article__contents__body .information .item-detail__phone {
  display: block;
  color: #59a5d8;
}

.share-button {
  margin-top: 15px;
}

.share-button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.share-button__list__item {
  height: 30px;
  text-align: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  line-height: 30px;
  min-width: 50px;
}

.share-button__list__link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.share-button__list__link::before {
  display: block;
  font-size: 14px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.share-button__list__link:hover::before {
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.share-button__list__link.icon-twitter {
  background: #55acee;
}

.share-button__list__link.icon-twitter:hover::before {
  color: #55acee;
}

.share-button__list__link.icon-facebook {
  background: #3b5998;
}

.share-button__list__link.icon-facebook:hover::before {
  color: #3b5998;
}

.share-button__list__link.icon-hatebu {
  background: #008fde;
}

.share-button__list__link.icon-hatebu:hover::before {
  color: #008fde;
}

.share-button__list__link.icon-rss {
  background: #f90;
}

.share-button__list__link.icon-rss:hover::before {
  color: #f90;
}

.share-button__list__link.icon-feedly {
  background: #6cc655;
}

.share-button__list__link.icon-feedly:hover::before {
  color: #6cc655;
}

.share-button__list__link.icon-line {
  background: #1dcd00;
}

.share-button__list__link.icon-line:hover::before {
  color: #1dcd00;
}

.related-articles {
  width: 90%;
  margin: 0 auto;
}

.related-articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.articles-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  width: 100%;
  font-family: 'Lato';
  margin-top: 25px;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list__item {
  margin: 0 2px 5px 2px;
  border: 1px solid #44af69;
}

.pagination__list__item.current {
  font-weight: 700;
}

.pagination__list__item span,.pagination__list__item__link {
  display: block;
  padding: 0.4em 0.9em 0.5em 0.9em;
  background-color: #fff;
  font-size: 1.1rem;
  line-height: 1.81818;
}

.pagination__list__item__link {
  background: #44af69;
  color: #fff;
  text-decoration: none;
}

.pagination__list__item__link:hover {
  background: #fff;
  color: #000;
}

.dictionary {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

.dictionary__eyecatch {
  width: 100%;
}

.dictionary__eyecatch__image {
  width: 100%;
}

.dictionary__contents {
  width: 90%;
  margin: 0 auto;
}

.dictionary__contents__title {
  padding: 10px 10px;
  text-align: center;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.14286;
  margin-top: 15px;
}

.dictionary__contents__body {
  margin: 0 auto;
  background-color: #fff;
  margin-top: 15px;
}

.dictionary__contents__body__heading {
  width: 100%;
  height: 35px;
  color: #fff;
  background-color: #59a5d8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.57143;
  padding-left: 15px;
}

.dictionary__contents__body__description {
  padding: 15px 15px 30px 15px;
  font-feature-settings: 'palt';
  text-align: justify;
  text-justify: inter-ideograph;
  -webkit-font-feature-settings: 'palt';
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  line-height: 1.66667;
}

.dictionary__contents__body__description__link {
  color: #59a5d8;
}

.dictionary__contents__body__description__address {
  margin-bottom: 15px;
}

.dictionary__contents__body__description__map {
  width: 100%;
  height: 200px;
}

.writer {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #aaa;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
}

.writer__icon {
  margin-top: 30px;
}

.writer__icon__image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.writer__name {
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 15px;
}

.writer__sns {
  margin-top: 15px;
}

.writer__sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.writer__sns__list__item__image {
  width: 22px;
  margin: 0 9px;
}

.writer__profile {
  padding: 15px;
  color: #fff;
  font-feature-settings: 'palt';
  text-align: justify;
  text-justify: inter-ideograph;
  background-color: #59a5d8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-feature-settings: 'palt';
  letter-spacing: 0.1em;
  margin-top: 20px;
}/* State */.is-searchbox-display {
  display: none;
}

.is-nav-categories-display,.is-nav-tags-display {
  display: none;
}

.is-border-right-display {
  border-right: 1px solid #fff;
}

.is-border-bottom-display {
  border-bottom: 1px solid #fff;
}/* Theme */@media screen and (min-width: 601px) and (max-width: 960px) {
  .header {
    height: 140px;
  }

  .header:before,.header:after {
    display: table;
    content: '';
  }

  .header:after {
    clear: both;
  }

  .header__catchphrase {
    height: 40px;
  }

  .header__catchphrase__text {
    font-size: 1.2rem;
    line-height: 3.33333;
    padding-left: 20px;
  }

  .header__catchphrase__search-button {
    margin-top: 9px;
    padding-right: 18px;
  }

  .header__catchphrase__search-button__icon {
    width: 20px;
    height: 20px;
  }

  .header__searchbox {
    top: 40px;
    height: 55px;
  }

  .header__searchbox__input {
    width: calc( 100% - 50px - 20px - 24px);
    height: 30px;
    margin-left: 20px;
    margin-top: 12px;
    padding-left: 9px;
  }

  .header__searchbox__search {
    float: right;
    width: 50px;
    height: 30px;
    font-size: 1.2rem;
    line-height: 1.83333;
    margin-left: 10px;
    margin-top: 12px;
  }

  .header__inner {
    width: 100%;
  }

  .header__service-logo {
    top: 52px;
    float: left;
    width: 170px;
    padding-bottom: 60px;
  }

  .header__service-logo__image-box {
    width: 75px;
    margin-left: 8px;
  }

  .header__nav {
    top: 36px;
    width: 100%;
    padding-left: 6px;
    padding-top: 25px;
  }

  .header__nav__menu {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 19px;
  }

  .header__nav__menu__about,.header__nav__menu__categories,.header__nav__menu__tags {
    margin-right: 12px;
  }

  .header__nav__menu__about__heading {
    width: 118px;
  }

  .header__nav__menu__categories__heading {
    width: 90px;
  }

  .header__nav__menu__tags__heading {
    width: 90px;
  }

  .header__nav__menu__about__heading__name--ja,.header__nav__menu__categories__heading__name--ja,.header__nav__menu__tags__heading__name--ja {
    font-size: 1.4rem;
    line-height: 1.42857;
  }

  .header__nav__menu__about__heading__name--en,.header__nav__menu__categories__heading__name--en,.header__nav__menu__tags__heading__name--en {
    font-size: 1rem;
    line-height: 2;
  }

  .header__nav__menu__categories__subhead,.header__nav__menu__tags__subhead {
    left: 60px;
    width: 220px;
  }

  .header__nav__menu__tags__subhead {
    left: 130px;
    width: 220px;
  }

  .header__nav__menu__categories__subhead__category {
    float: none;
    width: 220px;
    height: 37px;
    font-size: 1.4rem;
    line-height: 1.71429;
  }

  .header__nav__menu__categories__subhead__category__link {
    padding-top: 6px;
  }

  .header__nav__menu__tags__subhead {
    width: 300px;
  }

  .articles-card {
    margin-bottom: 20px;
  }

  .hero {
    width: 100%;
  }

  .hero__article__caption {
    padding: 20px 20px 20px 20px;
    font-size: 1.5rem;
    line-height: 1.33333;
  }

  .special-feature__slider {
    width: 92%;
  }

  .special-feature-list__title {
    padding: 15px;
    font-size: 1.6rem;
    line-height: 1.25;
  }

  .ranking__contents__list__card__title {
    padding: 10px 10px;
    font-size: 1.6rem;
    line-height: 1.375;
  }

  .visual-dictionary__contents__list__card {
    margin-bottom: 20px;
  }

  .tsushimap__contents__google-map {
    height: 400px;
  }

  .writer-list__contents__writer-list__summary__image {
    width: 170px;
    height: 170px;
    border-radius: 85px;
  }

  .article__contents__title {
    padding: 15px;
    font-size: 1.6rem;
    line-height: 1.25;
  }

  .article__contents__item__date {
    font-size: 1.2rem;
    line-height: 2.33333;
  }

  .article__contents__item__author__group__name {
    font-size: 1.2rem;
    line-height: 2.41667;
  }

  .article__contents__tags {
    padding: 10px 15px;
  }

  .article__contents__tags__group__tag {
    font-size: 1.2rem;
    line-height: 1.83333;
    margin-right: 9px;
  }

  .article__contents__body h2 {
    font-size: 1.8rem;
    line-height: 1.55556;
  }

  .article__contents__body h3 {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .article__contents__body p {
    font-size: 1.4rem;
    line-height: 1.71429;
  }

  .share-button__list__item {
    height: 40px;
    line-height: 40px;
    min-width: 80px;
  }

  .share-button__list__link::before {
    font-size: 16px;
  }

  .pagination__list__item span,.pagination__list__item__link {
    padding: 0.5em 0.9em;
    font-size: 1.3rem;
    line-height: 1.69231;
  }

  .dictionary__contents__title {
    padding: 15px;
    font-size: 1.6rem;
    line-height: 1.25;
  }

  .dictionary__contents__body__description__map {
    height: 300px;
  }
}

@media screen and (min-width: 961px) {
  main {
    padding-top: 30px;
  }

  .header:before,.header:after {
    display: table;
    content: '';
  }

  .header:after {
    clear: both;
  }

  .header__catchphrase {
    height: 40px;
  }

  .header__catchphrase__text {
    font-size: 1.2rem;
    line-height: 3.33333;
    padding-left: 20px;
  }

  .header__catchphrase__search-button {
    margin-top: 9px;
    padding-right: 18px;
  }

  .header__catchphrase__search-button__icon {
    width: 20px;
    height: 20px;
  }

  .header__searchbox {
    top: 40px;
    height: 55px;
  }

  .header__searchbox__input {
    width: calc( 100% - 50px - 20px - 24px);
    height: 30px;
    margin-left: 20px;
    margin-top: 12px;
    padding-left: 9px;
  }

  .header__searchbox__search {
    float: right;
    width: 50px;
    height: 30px;
    font-size: 1.2rem;
    line-height: 1.83333;
    margin-left: 10px;
    margin-top: 12px;
  }

  .header__inner {
    height: 170px;
  }

  .header__service-logo {
    top: 55px;
    float: left;
    width: 400px;
  }

  .header__service-logo__image-box {
    width: 100px;
    margin-left: -10px;
  }

  .header__nav {
    top: 53px;
    float: left;
    width: 400px;
    height: 60px;
    padding-top: 55px;
  }

  .header__nav__menu {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: -5px;
  }

  .header__nav__menu__about,.header__nav__menu__categories,.header__nav__menu__tags {
    margin-right: 18px;
  }

  .header__nav__menu__about__heading {
    width: 130px;
  }

  .header__nav__menu__categories__heading {
    width: 100px;
  }

  .header__nav__menu__tags__heading {
    width: 100px;
  }

  .header__nav__menu__about__heading__name--ja,.header__nav__menu__categories__heading__name--ja,.header__nav__menu__tags__heading__name--ja {
    font-size: 1.6rem;
    line-height: 1.25;
  }

  .header__nav__menu__about__heading__name--en,.header__nav__menu__categories__heading__name--en,.header__nav__menu__tags__heading__name--en {
    font-size: 1.2rem;
    line-height: 2;
  }

  .header__nav__menu__categories__subhead,.header__nav__menu__tags__subhead {
    left: 83px;
    width: 220px;
  }

  .header__nav__menu__tags__subhead {
    left: 170px;
  }

  .header__nav__menu__categories__subhead__category {
    float: none;
    width: 220px;
    height: 37px;
    font-size: 1.4rem;
    line-height: 1.71429;
  }

  .header__nav__menu__categories__subhead__category__link {
    padding-top: 6px;
  }

  .header__nav__menu__tags__subhead {
    width: 300px;
  }

  .articles-card {
    margin-bottom: 20px;
  }

  .articles-card__caption__title {
    height: calc( 1.35 * 3em);
    font-size: 1.3rem;
    line-height: 1.35;
    line-height: 1.38462;
    overflow: hidden;
  }

  .articles-card__category {
    font-size: 1.2rem;
    line-height: 2.41667;
    margin-top: 4px;
  }

  .articles-card__author {
    margin-top: 4px;
  }

  .articles-card__author__name {
    font-size: 1.2rem;
    line-height: 2.41667;
  }

  .main-wrapper {
    width: 90%;
  }

  .main-wrapper:before,.main-wrapper:after {
    display: table;
    content: '';
  }

  .main-wrapper:after {
    clear: both;
  }

  .primary-wrapper {
    float: left;
    width: 60%;
  }

  .hero {
    width: 100%;
  }

  .hero__article__caption {
    padding: 16px 20px 16px 20px;
    font-size: 1.6rem;
    line-height: 1.25;
  }

  .hero__article__caption__category {
    margin-bottom: 15px;
  }

  .main-contents {
    width: 100%;
  }

  .primary-contents {
    float: left;
    width: 100%;
  }

  .secondary-wrapper {
    float: right;
    width: 35%;
  }

  .separate-line {
    margin: 50px calc( ( ( 100vw - 100% ) / 2 ) * -1) 40px;
  }

  .separate-line {
    margin: 40px 0;
  }

  .view-more {
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
    line-height: 2.85714;
  }

  .special-feature__slider {
    width: 90%;
  }

  .special-feature__slider__group__title {
    height: 45px;
    font-size: 1.4rem;
    line-height: 3.28571;
  }

  .special-feature-list {
    width: 100%;
  }

  .special-feature-list__title {
    padding: 15px;
    font-size: 1.8rem;
    line-height: 1.33333;
  }

  .special-feature-list__description {
    font-size: 1.4rem;
    line-height: 1.71429;
  }

  .visual-dictionary__contents__list__card {
    margin-bottom: 20px;
  }

  .visual-dictionary__contents__list__card__title {
    height: calc( 1.3 * 3em);
    font-size: 1.2rem;
    line-height: 1.3;
    line-height: 1.25;
    overflow: hidden;
  }

  .tsushimap__contents__google-map {
    height: 350px;
  }

  .event-calendar__contents__google-calendar {
    height: 350px;
  }

  .footer {
    padding-top: 20px;
  }

  .footer .sns-icon__text {
    font-size: 1.8rem;
    line-height: 1.33333;
  }

  .footer .sns-icon__list__image {
    width: 24px;
    margin-left: 15px;
    margin-top: 0;
  }

  .footer__menu {
    font-size: 1.5rem;
    line-height: 1.73333;
    margin-bottom: 30px;
  }

  .footer .copyright {
    font-size: 1.2rem;
    line-height: 1.66667;
  }

  .article__contents {
    width: 100%;
  }

  .article__contents__title {
    padding: 15px;
    font-size: 1.8rem;
    line-height: 1.33333;
  }

  .article__contents__item__date {
    font-size: 1.2rem;
    line-height: 2.33333;
  }

  .article__contents__item__author__group__name {
    font-size: 1.2rem;
    line-height: 2.41667;
  }

  .article__contents__tags {
    padding: 10px 15px;
  }

  .article__contents__tags__group__tag {
    font-size: 1.2rem;
    line-height: 1.83333;
    margin-right: 9px;
  }

  .article__contents__body h2 {
    font-size: 2rem;
    line-height: 1.6;
  }

  .article__contents__body h3 {
    font-size: 1.8rem;
    line-height: 1.55556;
  }

  .article__contents__body p {
    font-size: 1.4rem;
    line-height: 1.71429;
  }

  .share-button__list__item {
    height: 40px;
    line-height: 40px;
    min-width: 80px;
  }

  .share-button__list__link::before {
    font-size: 18px;
  }

  .related-articles {
    width: 100%;
  }

  .articles-list {
    width: 100%;
  }

  .pagination__list__item {
    margin: 0 5px 5px 5px;
  }

  .pagination__list__item span,.pagination__list__item__link {
    padding: 0.5em 0.9em;
    font-size: 1.3rem;
    line-height: 1.69231;
  }

  .dictionary__contents {
    width: 100%;
  }

  .dictionary__contents__title {
    padding: 15px;
    font-size: 1.8rem;
    line-height: 1.33333;
  }

  .dictionary__contents__body__heading {
    height: 45px;
    font-size: 1.6rem;
    line-height: 2.75;
  }

  .dictionary__contents__body__description {
    font-size: 1.4rem;
    line-height: 1.71429;
  }

  .dictionary__contents__body__description__map {
    height: 300px;
  }

  .writer {
    width: 100%;
  }

  .writer__profile {
    font-size: 1.4rem;
    line-height: 1.71429;
  }

  .is-border-right-display {
    border-right: 0;
  }

  .is-border-bottom-display {
    border-bottom: 0;
  }

  .is-separate-line-display {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.4rem;
    line-height: 1.71429;
    min-width: 0;
  }
}
