.related-articles {
  width: 90%;
  margin: 0 auto;

  @include mq( tablet ) {

  }

  @include mq( pc ) {
    width: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq( tablet ) {

    }

    @include mq( pc ) {

    }
  }
}
