<div class="breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__list__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="breadcrumb__list__item__link" href="/" itemprop="url"><span itemprop="title">HOME</span></a></li>
    <li class="breadcrumb__list__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="breadcrumb__list__item__link" href="" itemprop="url"><span itemprop="title">カテゴリー、タグ、ライター名など</span></a></li>
    <li class="breadcrumb__list__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</span></li>
  </ol>
</div>
