<footer class="footer">
  <section class="sns-icon">
    <div class="sns-icon__text">
      Follow Us On
    </div>
    <div class="sns-icon__list">
      <a class="sns-icon__list__link" href="" target="_blank"><img class="sns-icon__list__image" src="./images/sns-icon/lineat.png" alt="LINE@" /></a>
      <a class="sns-icon__list__link" href="https://twitter.com/tsm_zekkei" target="_blank"><img class="sns-icon__list__image" src="./images/sns-icon/twitter.png" alt="Twitter" /></a>
      <a class="sns-icon__list__link" href="https://www.instagram.com/tsm_zekkei" target="_blank"><img class="sns-icon__list__image" src="./images/sns-icon/instagram.png" alt="Instagram" /></a>
      <a class="sns-icon__list__link" href="" target="_blank"><img class="sns-icon__list__image" src="./images/sns-icon/facebook.png" alt="Facebook" /></a>
      <a class="sns-icon__list__link" href="" target="_blank"><img class="sns-icon__list__image" src="./images/sns-icon/rss.png" alt="RSS" /></a>
    </div>
  </section>
  <hr />
  <section class="footer__menu">
    <ul class="footer__menu__list">
      <li class="footer__menu__list__item"><a class="footer__menu__list__item__link" href="">対馬絶景について</a></li>
      <li class="footer__menu__list__item"><a class="footer__menu__list__item__link" href="">対馬絶景への寄稿について</a></li>
      <li class="footer__menu__list__item"><a class="footer__menu__list__item__link" href="">広告掲載をご検討の方</a></li>
      <li class="footer__menu__list__item"><a class="footer__menu__list__item__link" href="">情報提供フォーム</a></li>
      <li class="footer__menu__list__item"><a class="footer__menu__list__item__link" href="">お問い合わせ</a></li>
    </ul>
  </section>
  <section class="copyright">
    <p>© 対馬絶景 / Tsushima Zekkei</p>
  </section>
</footer>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="./javascripts/slick/slick.min.js"></script>
<script src="./javascripts/common.js"></script>
<%- include( './_google-analytics' ) %>

</body>
</html>
