<footer>

</footer>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="./javascripts/slick/slick.min.js"></script>
<script src="./javascripts/common.js"></script>
<%- include( './_google-analytics' ) %>

</body>
</html>
