<div class="related-articles">
  <hr class="separate-line" />
  <div class="related-articles__heading main-contents__heading">
    <h1 class="related-articles__heading--ja main-contents__heading--ja">関連する記事</h1>
    <span class="related-articles__heading--en main-contents__heading--en">RELATED ARTICLES</span>
  </div>
  <div class="related-articles__list">
    <div class="articles-card">
      <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
      <div class="articles-card__caption">
        <time class="articles-card__caption__date">2019.01.01</time>
        <a class="articles-card__caption__title__link" href="/article.html">
          <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
        </a>
      </div>
      <div class="articles-card__category">
        <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
      </div>
      <div class="articles-card__author">
        <a class="articles-card__author__link" href="/writer.html">
          <div class="articles-card__author__group">
            <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
            <span class="articles-card__author__name">小宮 大輔</span>
          </div>
        </a>
      </div>
    </div>
    <div class="articles-card">
      <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
      <div class="articles-card__caption">
        <time class="articles-card__caption__date">2019.01.01</time>
        <a class="articles-card__caption__title__link" href="/article.html">
          <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
        </a>
      </div>
      <div class="articles-card__category">
        <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
      </div>
      <div class="articles-card__author">
        <a class="articles-card__author__link" href="/writer.html">
          <div class="articles-card__author__group">
            <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
            <span class="articles-card__author__name">小宮 大輔</span>
          </div>
        </a>
      </div>
    </div>
    <div class="articles-card">
      <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
      <div class="articles-card__caption">
        <time class="articles-card__caption__date">2019.01.01</time>
        <a class="articles-card__caption__title__link" href="/article.html">
          <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
        </a>
      </div>
      <div class="articles-card__category">
        <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
      </div>
      <div class="articles-card__author">
        <a class="articles-card__author__link" href="/writer.html">
          <div class="articles-card__author__group">
            <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
            <span class="articles-card__author__name">小宮 大輔</span>
          </div>
        </a>
      </div>
    </div>
    <div class="articles-card">
      <a class="articles-card__image__link" href="/article.html"><img class="articles-card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
      <div class="articles-card__caption">
        <time class="articles-card__caption__date">2019.01.01</time>
        <a class="articles-card__caption__title__link" href="/article.html">
          <h2 class="articles-card__caption__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
        </a>
      </div>
      <div class="articles-card__category">
        <a class="articles-card__category__link" href="/articles-list.html">記憶に残る体験</a>
      </div>
      <div class="articles-card__author">
        <a class="articles-card__author__link" href="/writer.html">
          <div class="articles-card__author__group">
            <img class="articles-card__author__image" src="./images/komiya-icon.jpg" alt="小宮 大輔" />
            <span class="articles-card__author__name">小宮 大輔</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
