<div class="share-button">
  <ul class="share-button__list">
    <li class="share-button__list__item"><a class="share-button__list__link icon-twitter" href="https://twiter.com/share?url={url}&related=tsm_zekkei&hashtags=対馬絶景,対馬&text={page title}" rel="nofollow" target="_blank" title="Twitter"></a></li>
    <li class="share-button__list__item"><a class="share-button__list__link icon-facebook" href="http://www.facebook.com/share.php?u={url}" rel="nofollow" target="_blank" title="Facebook"></a></li>
    <li class="share-button__list__item"><a class="share-button__list__link icon-hatebu" href="http://b.hatena.ne.jp/add?mode=confirm&url={url}&title={page title}" rel="nofollow" target="_blank" title="はてなブックマーク"></a></li>
    <li class="share-button__list__item"><a class="share-button__list__link icon-line" href="http://line.me/R/msg/text/?{url}" rel="nofollow" target="_blank" title="LINE"></a></li>
    <li class="share-button__list__item"><a class="share-button__list__link icon-feedly" href="https://feedly.com/i/subscription/feed/エンコードしたフィードのURL" target="_blank" title="Feedy"></a></li>
  </ul>
</div>
