<aside class="secondary-wrapper">
  <hr class="separate-line is-separate-line-display" />
  <section class="ranking">
    <div class="ranking__heading main-contents__heading">
      <h1 class="ranking__heading--ja main-contents__heading--ja">ランキング</h1>
      <span class="ranking__heading--en main-contents__heading--en">RANKING</span>
    </div>
    <div class="ranking__contents">
      <div class="ranking__contents__tabs">
        <input id="today" type="radio" name="ranking__contents__tabs--item" checked />
        <label class="ranking__contents__tabs--item" for="today">今日</label>
        <input id="weekly" type="radio" name="ranking__contents__tabs--item" />
        <label class="ranking__contents__tabs--item" for="weekly">週間</label>
        <input id="monthly" type="radio" name="ranking__contents__tabs--item" />
        <label class="ranking__contents__tabs--item" for="monthly">月間</label>
      </div>
      <!-- Today -->
      <div id="today__articles" class="ranking__contents__list">
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">1</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">2</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">3</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">4</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">5</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
      </div>
      <!-- Weekly -->
      <div id="weekly__articles" class="ranking__contents__list">
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">1</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-2.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">2</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-2.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">3</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-2.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">4</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-2.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">5</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-2.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
      </div>
      <!-- Monthly -->
      <div id="monthly__articles" class="ranking__contents__list">
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">1</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-3.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">2</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-3.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">3</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-3.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">4</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-3.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
        <div class="ranking__contents__list__card">
          <div class="ranking__contents__list__card__rank">5</div>
          <a class="ranking__contents__list__card__image__link" href=""><img class="ranking__contents__list__card__image" src="./images/article-thumbnail-3.jpg" alt="" /></a>
          <div class="ranking__contents__list__card__caption">
            <a class="ranking__contents__list__card__title__link" href="">
              <h2 class="ranking__contents__list__card__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="separate-line" />
  <section class="visual-dictionary">
    <div class="visual-dictionary__heading main-contents__heading">
      <h1 class="visual-dictionary__heading--ja main-contents__heading--ja">図鑑</h1>
      <span class="visual-dictionary__heading--en main-contents__heading--en">VISUAL DICTIONARY</span>
    </div>
    <div class="section-description">
      綺麗な海水浴場、豊かな海で獲れる魚介、珍しく貴重な動植物、神々が住まう山岳など、対馬の大自然を図鑑としてまとめています。
    </div>
    <div class="visual-dictionary__contents">
      <div class="visual-dictionary__contents__tabs">
        <input id="beaches" type="radio" name="visual-dictionary__contents__tabs--item" checked />
        <label class="visual-dictionary__contents__tabs--item" for="beaches">海水浴場</label>
        <input id="seafood" type="radio" name="visual-dictionary__contents__tabs--item" />
        <label class="visual-dictionary__contents__tabs--item" for="seafood">魚介</label>
        <input id="mountains" type="radio" name="visual-dictionary__contents__tabs--item" />
        <label class="visual-dictionary__contents__tabs--item" for="mountains">山岳</label>
        <input id="animal" type="radio" name="visual-dictionary__contents__tabs--item" />
        <label class="visual-dictionary__contents__tabs--item" for="animal">動物</label>
        <input id="plant" type="radio" name="visual-dictionary__contents__tabs--item" />
        <label class="visual-dictionary__contents__tabs--item" for="plant">植物</label>
      </div>
      <!-- 海水浴場 -->
      <div id="beaches__summary" class="visual-dictionary__contents__list">
        <div class="visual-dictionary__contents__list__card">
          <a class="visual-dictionary__contents__list__card__image__link" href=""><img class="visual-dictionary__contents__list__card__image" src="./images/beaches-thumbnail.jpg" alt="" /></a>
          <div class="visual-dictionary__contents__list__card__caption">
            <a class="visual-dictionary__contents__list__card__title__link" href="">
              <h2 class="visual-dictionary__contents__list__card__title">三宇田海水浴場<br />[上対馬町]</h2>
            </a>
          </div>
        </div>
        <div class="visual-dictionary__contents__list__card">
          <a class="visual-dictionary__contents__list__card__image__link" href=""><img class="visual-dictionary__contents__list__card__image" src="./images/beaches-thumbnail.jpg" alt="" /></a>
          <div class="visual-dictionary__contents__list__card__caption">
            <a class="visual-dictionary__contents__list__card__title__link" href="">
              <h2 class="visual-dictionary__contents__list__card__title">西泊海水浴場<br />[上対馬町]</h2>
            </a>
          </div>
        </div>
        <div class="visual-dictionary__contents__list__card">
          <a class="visual-dictionary__contents__list__card__image__link" href=""><img class="visual-dictionary__contents__list__card__image" src="./images/beaches-thumbnail.jpg" alt="" /></a>
          <div class="visual-dictionary__contents__list__card__caption">
            <a class="visual-dictionary__contents__list__card__title__link" href="">
              <h2 class="visual-dictionary__contents__list__card__title">茂木浜海水浴場<br />[上対馬町]</h2>
            </a>
          </div>
        </div>
        <div class="visual-dictionary__contents__list__card">
          <a class="visual-dictionary__contents__list__card__image__link" href=""><img class="visual-dictionary__contents__list__card__image" src="./images/beaches-thumbnail.jpg" alt="" /></a>
          <div class="visual-dictionary__contents__list__card__caption">
            <a class="visual-dictionary__contents__list__card__title__link" href="">
              <h2 class="visual-dictionary__contents__list__card__title">松島公園<br />[上対馬町]</h2>
            </a>
          </div>
        </div>
        <a class="latest-articles__view-more view-more" href="">VIEW MORE</a>
      </div>
      <!-- 魚介 -->
      <div id="seafood__summary" class="visual-dictionary__contents__list">
        <div class="visual-dictionary__contents__list__card">
          <a class="visual-dictionary__contents__list__card__image__link" href=""><img class="visual-dictionary__contents__list__card__image" src="./images/seafood-thumbnail.jpg" alt="" /></a>
          <div class="visual-dictionary__contents__list__card__caption">
            <a class="visual-dictionary__contents__list__card__title__link" href="">
              <h2 class="visual-dictionary__contents__list__card__title">ヒラマサ（ヒラス）</h2>
            </a>
          </div>
        </div>
        <div class="visual-dictionary__contents__list__card">
          <a class="visual-dictionary__contents__list__card__image__link" href=""><img class="visual-dictionary__contents__list__card__image" src="./images/seafood-thumbnail.jpg" alt="" /></a>
          <div class="visual-dictionary__contents__list__card__caption">
            <a class="visual-dictionary__contents__list__card__title__link" href="">
              <h2 class="visual-dictionary__contents__list__card__title">ブリ</h2>
            </a>
          </div>
        </div>
        <div class="visual-dictionary__contents__list__card">
          <a class="visual-dictionary__contents__list__card__image__link" href=""><img class="visual-dictionary__contents__list__card__image" src="./images/seafood-thumbnail.jpg" alt="" /></a>
          <div class="visual-dictionary__contents__list__card__caption">
            <a class="visual-dictionary__contents__list__card__title__link" href="">
              <h2 class="visual-dictionary__contents__list__card__title">マグロ</h2>
            </a>
          </div>
        </div>
        <div class="visual-dictionary__contents__list__card">
          <a class="visual-dictionary__contents__list__card__image__link" href=""><img class="visual-dictionary__contents__list__card__image" src="./images/seafood-thumbnail.jpg" alt="" /></a>
          <div class="visual-dictionary__contents__list__card__caption">
            <a class="visual-dictionary__contents__list__card__title__link" href="">
              <h2 class="visual-dictionary__contents__list__card__title">アカムツ（ノドグロ）</h2>
            </a>
          </div>
        </div>
        <a class="latest-articles__view-more view-more" href="">VIEW MORE</a>
      </div>
    </div>
  </section>
  <hr class="separate-line" />
  <section class="tsushimap">
    <div class="tsushimap__heading main-contents__heading">
      <h1 class="tsushimap__heading--ja main-contents__heading--ja">マップ</h1>
      <span class="tsushimap__heading--en main-contents__heading--en">MAP</span>
    </div>
    <div class="section-description">
      対馬の観光スポットやオススメスポットなどを、マップ上にまとめています。
    </div>
    <div class="tsushimap__contents">
      <iframe class="tsushimap__contents__google-map" src="https://www.google.com/maps/d/u/0/embed?mid=1UoL2UnOUv2lzc6YDu2eMext21eAfBtPF"></iframe>
    </div>
  </section>
  <hr class="separate-line" />
  <section class="writer">
    <div class="writer__heading main-contents__heading">
      <h1 class="writer__heading--ja main-contents__heading--ja">ライター</h1>
      <span class="writer__heading--en main-contents__heading--en">WRITER</span>
    </div>
    <div class="writer__contents">
      
    </div>
  </section>

  <br />
  <br />
  <br />
  <br />
  <br />
</aside>
